/* Struttura base -------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    padding: 30px 149.5px;
}
    header ~ * {
        margin-top: 10px;
    }

.clearfix::after { /* main */
    content: "";
    display: table;
    clear: both;
}

/* Layout header --------------------------------------------------------- */
header {
    /* background-color: violet; */
}
/* Inizio header --------------------------------------------------------- */
header #logo {
    height: 50px;
    line-height: 50px;
    padding-right: 7px;
    border-right: 1px solid lightgrey;
}
    nav {
        margin-top: 10px;
        text-transform: uppercase;
    }
    nav > ul {
        height: 60px;
        line-height: 60px;
    }
    nav li {
        list-style-type: none;
        float: left;
        margin: 0 7px;
        color: lightgrey;
    }
    nav li:first-child {
        margin-left: 0;
    }


/* Layout figure --------------------------------------------------------- */
figure {
    height: 400px;
    background-color: khaki;
}

/* Layout main ----------------------------------------------------------- */
main {
    background-color: blue;
}
    main div {
        background-color: lightblue;
    }
    main div:not(.header-main) {
        height: 400px;
        float: left;
    }
        .header-main {
            height: 80px;
        }
        [class*="t-main"] { /* lefT, righT */
            margin: 1% 0;
            width: 20%;
        }
        .main-main {
            margin: 1%;
            width: 58%;
        }

/* Layout footer --------------------------------------------------------- */
footer {
    margin-top: 5px;
    height: 70px;
    background-color: darkviolet;
}