/* Struttura base -------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    padding: 30px 139.5px;
}
    header ~ * {
        margin-top: 10px;
    }

.clearfix::after { /* main */
    content: "";
    display: table;
    clear: both;
}

/* Layout header --------------------------------------------------------- */
header {
    /* background-color: violet; */
}
/* Inizio header --------------------------------------------------------- */
header #logo {
    height: 70px;
    padding-right: 7px;
    border-right: 1px solid lightgrey;
    display: block;
}
    nav {
        margin-top: 10px;
        text-transform: uppercase;
    }
    nav > ul {
        height: 60px;
        line-height: 60px;
    }
    nav li {
        font-size: 18px;
        font-weight: 500;
        list-style-type: none;
        float: left;
        margin: 0 7px;
    }
    nav li:first-child {
        margin-left: 0;
    }
    a {
        text-decoration: none;
        color: rgb(179, 179, 179);
    }

/* Layout figure --------------------------------------------------------- */
figure {
    height: 450px;
    /* background-color: khaki; */
}
/* Inizio figure --------------------------------------------------------- */
figure {
    border-radius: 10px;
    background-image: url("../img/banner.jpg");
    background-position: 50% 60%;
}
    figure > div{
        border-radius: inherit;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: relative;
    }
        #text-img {
            width:60%;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 0 50px 40px;
        }
            #text-img * {
                color: white;
            }
            #text-img > h3 {
                font-weight: normal;
                font-size: 30px;
            }
            #text-img > p {
                font-size: 16px;
            }
/* Layout main ----------------------------------------------------------- */
main {
    background-color: blue;
}
    main > div {
        background-color: lightblue;
    }
    main > div:not(.header-main) {
        height: 400px;
        float: left;
    }
/* Inizio main --> header-main ----------------------------------------------------------- */
        .header-main {
            margin-top: 20px;
            height: 80px;
            position: relative;
        }
        .header-main > div {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
            #title {
                font-weight: 900;
                font-size: 32px;
                color: black;
            }
            .header-main span {
                color: rgb(179, 179, 179);
            }

/* Inizio side-main ------------------------------------------------------- */
        [class*="t-main"] { /* lefT, righT */
            margin: 1% 0;
            width: 20%;
        }
            .sideleft-main {

            }
                .figura-sx {
                    border-radius: 15px;
                    height: 170px;
                    width: 100%;
                    background-image: url("../img/img-1.jpg");
                    background-size: cover;
                    background-position: 50% 35%;
                }
                .opaco {
                    background-color: rgba(0, 0, 0, 0.3);
                    height: 170px;
                    width: 100%;
                    border-radius: 15px;
                }
                    .sideleft-main p {
                        color: rgb(179, 179, 179);
                    }


        .main-main {
            margin: 1%;
            width: 58%;
        }

/* Layout footer --------------------------------------------------------- */
footer {
    margin-top: 5px;
    height: 70px;
    background-color: darkviolet;
}